@font-face {
  font-family: 'Pally-Variable';
  src: url('/fonts/Pally-Variable.woff2') format('woff2'),
       url('/fonts/Pally-Variable.woff') format('woff'),
       url('/fonts/Pally-Variable.ttf') format('truetype');
       font-weight: 400 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Pally-Regular';
  src: url('/fonts/Pally-Regular.woff2') format('woff2'),
       url('/fonts/Pally-Regular.woff') format('woff'),
       url('/fonts/Pally-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Pally-Medium';
  src: url('/fonts/Pally-Medium.woff2') format('woff2'),
       url('/fonts/Pally-Medium.woff') format('woff'),
       url('/fonts/Pally-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Pally-Bold';
  src: url('/fonts/Pally-Bold.woff2') format('woff2'),
       url('/fonts/Pally-Bold.woff') format('woff'),
       url('/fonts/Pally-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

body {
  background-color: #EEEEEE
}


@tailwind base;
@tailwind components;
@tailwind utilities;